// .addBtn{
//     margin: 2%;
// }
// ::ng-deep .mat-tooltip {
//     font-size: 15px;
//     background: #ffffff49;
//     white-space: pre-wrap;
//  }

//  .post-image > img{
//     border-radius: 100%;
//     object-fit: cover;
//     object-position: center;
// }

// .post-image{
//     position: relative;
//     width: 120px;
//     margin: auto;
// }

// .post-image > img {
//     border-radius: 100%;
//     object-fit: cover;
//     object-position: center;
//   }

// .post-image > button{
//     position: absolute;
//     bottom: 10px;
//     right: 0;
// }

// .form-container{
//     max-width: 85%;
// }
// .row{
//     display: flex;
//     gap: 16px;
// }

// #title{
//     font-size: larger;
// }
.example-input-wrapper {
    margin-bottom: 16px;
  }
  
  label {
    margin-right: 4px;
  }
.alignment{
    margin: 100px;
}