<mat-card class="bg cards">
    <div class="text-title">
        Connecting Ideas & People | Notion
    </div>
    <main class="grid">

        <article>
          <div class="text">
            <h3>About Us</h3>
            <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
          </div>
        </article>

        <article>
          <div class="text" style="padding-top: 20px;">
            <h3>What we provide?</h3>
            <p>Dramatically engage seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
          </div>
        </article>

        <article>
          <div class="text">
            <h3>Our Team</h3>
            <ul> 
                <li style="letter-spacing: 5px;">
              <a style="color: #ccc;" href="https://62ceb5d4e4a03b0869537565--dapper-kulfi-5a4aa6.netlify.app/">
                Mr. Yash Prajapati </a>
                </li> 
                <li style="letter-spacing: 4px;">
                Ms. Akanksha Parasar
                </li> 
                <li style="letter-spacing: 5px;">
                Mr. Mohit Mane
                </li> 
            </ul>
          </div>
        </article>

        <article>
          <div class="text">
            <h3>Contact Us</h3>
            <p style="letter-spacing: 5px; margin-left: 20px;">
                +91 92841 19081 <br>
                Pune, India
            </p>
          </div>
        </article>

      </main>
      <mat-card-footer style="color: white; padding: 20px; text-align: center; letter-spacing: 5px;">
        All rights reserved by Notion &copy; 2023
      </mat-card-footer>
</mat-card>