<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://miro.medium.com/max/1400/1*t1Wh17POCqoG9em7NNdnhA.jpeg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h1 class="card-title">Uh Oh, the Comedy People Are Afraid Again</h1>
          <p class="card-text">
            ou know you’ve made it in the comedy business when you get to publicly bitch to large audiences about how your precious jokes are under attack. That was the case again this fall when Saturday Night Live annulled its hiring of comedian Shane Gillis after everyone found out that Gillis said nakedly racist shit on his own podcast just a year prior. Click the link right here and you’ll find that Gillis’ comments aren’t coded racism, nor are they cleverly worked into good material. It’s just basic, clumsy racism, as easy to diagnose as a severe case of herpes. 
            <a href="https://medium.com/gen/i-regret-to-inform-you-the-comedians-are-filling-their-big-diapers-again-b20152ba45ac">Read more..</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://miro.medium.com/max/1400/1*9kZvugycnwZsxFKOP76bbg.png" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h1 class="card-title" style="padding-top: 12px;">The Marvelous Mrs. Maisel’s Guide to Breaking into Stand Up Comedy</h1>
          <p class="card-text">
            Stand up comedy can be a tough world to break into. It can take years of painful soul searching, disappointing performances, and pounding the pavement day in and day out with very little reward. Or… it can be a total breeze! Check out my tips for breaking into stand up comedy. <br> <font style="font-weight: 600;"> Putting together your first set</font> <br> You should definitely get a notebook for the first few weeks of your stand up comedy career but then you can lose it, too, because all your best material will magically come to you while you’re on stage — no writing necessary!
            Before you get up on stage, you have to know what you’re going to say. I wrote all my ideas in a notebook and kept it with me at all times until
            <a href="https://medium.com/more-or-less/the-marvelous-mrs-maisels-guide-to-breaking-into-stand-up-comedy-ca3e4fc7ccbc">Read more..</a>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div> -->
  </div>
  <br><br>
<div class="card bg-dark text-white">
    <img src="https://miro.medium.com/max/4800/1*Y8-O21gOazf5K9PGtQv88w.jpeg" class="card-img" alt="Stony Beach"/>
    <div class="card-img-overlay">
      <h1 class="card-title">
       <font style="color: black; font-weight: 800; font-size: xx-large;"> The Trailers for Ghostbusters (2016) and the Art of Editing Comedy
    </font>
       </h1>
      <p class="card-text">
        <font style="color: black; font-weight: 400; font-size: large;" >
        There’s been a lot of discussion on the Internet <br> regarding the larger cultural forces and attitudes that are congealing around Paul <br> Feig’s new version of Ghostbusters (2016). <br>
        So I thought instead of talking about the same things as everyone else,<br> I would go in the opposite direction, and focus on something small and granular: 
    </font>
    <a href="https://medium.com/@tonyszhou/the-trailers-for-ghostbusters-2016-and-the-art-of-editing-comedy-74a1433c3221">read more..</a>
      </p>
      <p class="card-text">Last updated 2 days ago</p>
    </div>
  </div>
  <br> <br>
<div class="card bg-dark text-white">
    <img src="https://miro.medium.com/max/1400/1*kWHlYqOPVmZF5yHN_62EQw.jpeg" class="card-img" alt="Stony Beach"/>
    <div class="card-img-overlay">
      <h1 class="card-title">
       <font style="color: white; font-weight: 800; font-size: xx-large;"> The Divine Comedy of the Tech Sisterhood
    </font>
       </h1>
      <p class="card-text">
        <font style="color: whitesmoke; font-weight: 400; font-size: large;" >
            This is a work of fiction. Names, characters, businesses, places, events and incidents are either the products of the author’s <br> imagination or used in a fictitious manner. Any resemblance to actual persons, living or dead, or actual events is purely coincidental. <br> regarding the larger cultural forces and attitudes that are congealing around Paul <br> Feig’s new version of Ghostbusters (2016). <br>
        So I thought instead of talking about the same things as everyone else,<br> I would go in the opposite direction, and focus on something small and granular: 
    </font>
    <a href="https://medium.com/code-like-a-girl/the-divine-comedy-of-the-tech-sisterhood-62bf54fd2186">read more..</a>
      </p>
      <p class="card-text">Last updated 3 days ago</p>
    </div>
  </div>

  <br><br>
