<!-- <div class="content"> -->
  <router-outlet></router-outlet>

<!-- </div> -->
<app-scroll-to-top></app-scroll-to-top>
<!-- <app-journal></app-journal> -->
<app-footer></app-footer>

  
<!-- <mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout</button>

  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile Page
  </button>

  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    Home Page</button>
</mat-menu> -->
