button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    z-index: 1;
    border-radius: 50%;
  }
.bg{
  background-color: #1e50b5;

}